#.aliases to work with bash or zsh
########## SETUP ##############
#In bashrc
#if [ -f ~/.aliases ]; then
#    . ~/.aliases
#fi
#In zshrc
#source $HOME/.aliases

########## ALIASES ##############
# if nvim
if hash nvim 2>/dev/null; then
    alias vim='nvim'
fi
alias mux='tmuxifier'
alias gits='git status'
alias viserver='gvim -v --servername vimserver'
alias viserver2='gvim -v --servername vimserver2'
alias nviserver='NVIM_LISTEN_ADDRESS=/tmp/nvimserver nvim'
alias nviserver2='NVIM_LISTEN_ADDRESS=/tmp/nvimserver2 nvim'
alias dualpdf='dspdfviewer'
# alias emacs='emacs -nw'
# Workaround: emacs does not works well with TERM=tmux-256color
alias emacsserver='emacs --daemon'
alias emacsserver-kill="emacsclient -e '(kill-emacs)'"
alias org='TERM=screen-256color emacs -nw ~/Dropbox/org-mode/organizer.org'
alias orgclient='TERM=screen-256color emacsclient -t ~/Dropbox/org-mode/organizer.org'
alias orgthesis='TERM=screen-256color emacsclient -t ~/Dropbox/org-mode/thesis.org'

# task aliases: https://github.com/mhinz/dotfiles/commit/9b6ea96d0a3e829d3b1e49d2ead2257e212a2d2a
alias t='task'
alias tf='task -f 1'
alias tn='task | head -n 1'
alias te='vim ~/tasks'
alias tl='cat ~/tasks.log | tail -n 10'

# Platform specific aliases.
alias sdev='source ~/bin/devtoolset-core.sh'
alias sdevr='source ~/bin/devtoolset-release.sh'
alias sdevd='source ~/bin/devtoolset-debug.sh'
alias sdevrvtk='source ~/bin/vtk-itk-release.sh'
alias sdevdvtk='source ~/bin/vtk-itk-debug.sh'

# CMAKE
# Fix for work with term=tmux (from tmux 2.1). It is fixed in cmake 3.8
alias ccmake='TERM=xterm-256color ccmake'
alias cmakeEclipseSource='cmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_ECLIPSE_GENERATE_SOURCE_PROJECT=TRUE -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias ccmakeEclipseSource='ccmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_ECLIPSE_GENERATE_SOURCE_PROJECT=TRUE -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias cmakeEclipse='cmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias ccmakeEclipse='ccmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias cmakeEclipseC11='cmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_CXX_COMPILER_ARG1=-std=c++11 -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias cmakeEclipseC11Source='cmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_CXX_COMPILER_ARG1=-std=c++11 -DCMAKE_ECLIPSE_GENERATE_SOURCE_PROJECT=TRUE -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias ccmakeEclipseC11='ccmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_CXX_COMPILER_ARG1=-std=c++11 -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias ccmakeEclipseC11Source='ccmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_CXX_COMPILER_ARG1=-std=c++11 -DCMAKE_ECLIPSE_GENERATE_SOURCE_PROJECT=TRUE -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'

alias ccmakeEclipseC14='ccmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_CXX_COMPILER_ARG1=-std=c++14 -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias ccmakeNinja='ccmake -GNinja -DCMAKE_CXX_COMPILER_ARG1=-std=c++11 -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
