#.aliases to work with bash or zsh
########## SETUP ##############
#In bashrc
#if [ -f ~/.aliases ]; then
#    . ~/.aliases
#fi
#In zshrc
#source $HOME/.aliases

########## ALIASES ##############
# if nvim
if hash nvim 2>/dev/null; then
    alias vim='nvim'
fi
alias mux='tmuxifier'
# alias vim='vim --servername VIMserver'
# alias sdev='source ~/bin/devtoolset-core.sh'
# alias sdevd='source ~/bin/devtoolset-debug.sh'
# alias sdevr='source ~/bin/devtoolset-release.sh'

# CMAKE
alias cmakeEclipseSource='cmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_ECLIPSE_GENERATE_SOURCE_PROJECT=TRUE -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias ccmakeEclipseSource='ccmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_ECLIPSE_GENERATE_SOURCE_PROJECT=TRUE -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias cmakeEclipse='cmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias ccmakeEclipse='ccmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias cmakeEclipseC11='cmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_CXX_COMPILER_ARG1=-std=c++11 -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias cmakeEclipseC11Source='cmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_CXX_COMPILER_ARG1=-std=c++11 -DCMAKE_ECLIPSE_GENERATE_SOURCE_PROJECT=TRUE -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias ccmakeEclipseC11='ccmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_CXX_COMPILER_ARG1=-std=c++11 -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
alias ccmakeEclipseC11Source='ccmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_CXX_COMPILER_ARG1=-std=c++11 -DCMAKE_ECLIPSE_GENERATE_SOURCE_PROJECT=TRUE -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'

alias ccmakeEclipseC14='ccmake -G"Eclipse CDT4 - Unix Makefiles" -DCMAKE_CXX_COMPILER_ARG1=-std=c++14 -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON'
# GMOCK
export GMOCK_HOME=~/Software/gmock-1.7.0
