# export MANPAGER="less -x"
# CMAKE
# Fix for work with term=tmux (from tmux 2.1). It is fixed in cmake 3.8
ccmake() {
    TERM=xterm-256color command ccmake "$@"
}

cninja() {
    cmake -GNinja -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON -DOpenGL_GL_PREFERENCE:STRING=GLVND "$@"
}

ccninja() {
    ccmake -GNinja -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON -DOpenGL_GL_PREFERENCE:STRING=GLVND "$@"
}

cninja-clang() {
    CC=clang CXX=clang++ cmake -GNinja -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON -DOpenGL_GL_PREFERENCE:STRING=GLVND "$@"
}

ccninja-clang() {
    CC=clang CXX=clang++ ccmake -GNinja -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON -DOpenGL_GL_PREFERENCE:STRING=GLVND "$@"
}

# RG
# color always (for piping multiple rg commands)
# example rgc Hola | rgc -v ThirdParty | rg hello
# the last command will detect that output is a terminal
# and will be colored
rgc(){
    rg --color=always "$@"
}

githash(){ # copy hash of HEAD commit
    git rev-parse HEAD | tr -d '\n' | xsel --clipboard; echo $(xsel -b);
}

gitlcm(){ # git last commit message
    git log -1 --pretty=%B | xsel --clipboard; xsel -b;
}

gitgc(){ # git grep changes
    grep -sn $@ $(git diff --name-only)
}

# cower is outdated, replaced by auracle, use it with default target install directory
cower(){
    auracle -C ~/AUR/ "$@"
}
