[user]
	name = phcerdan
	email = pablo.hernandez.cerdan@outlook.com
	mail = pablo.hernandez.cerdan@outlook.com
[core]
	editor = gvim -v
[credential]
	helper = cache --timeout=36000000000
[init]
	templatedir = ~/.git_template
[push]
	default = simple
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
