[include]
	# private credentials in local file, such as proxy.
	path = .gitconfig_local
[user]
	name = Pablo Hernandez-Cerdan
	# name = phcerdan
	email = pablo.hernandez.cerdan@outlook.com
	mail = pablo.hernandez.cerdan@outlook.com
[core]
	editor = nvim
[credential]
	helper = cache --timeout=36000000000
[init]
	templatedir = ~/.git_template
[push]
	default = simple
[diff]
	tool = vimdiff
	compactionHeuristic = true
	indentHeuristic = true
[merge]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[pull]
	rebase = true
[alias]
	ctags = !.git/hooks/ctags
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	pullall = !bash -c \"git pull && git submodule update --init\"
	prepush = log --graph --stat origin/master..
	diffwords = diff --color-words
[color]
	ui = auto
[mergetool]
	prompt = false
	trustExitCode = true
[mergetool "vimdiff"]
	  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
