# Generated with -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON
# in build folder, then symlink in src folder for auto-
# completers to work automatically
compile_commands.json
pyrightconfig.json
Session*.vim
.bash_parameters.sh
# Configuration file of vimspector
.vimspector.json
# DGtal files generating when running tests from vim
.qglviewer.xml

.gdb_history

.cache/
.scratch/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.nvimrc
.nvimrc.lua
scratch/
