[Unit]
Description=Lock the screen right after autologin
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'sleep 2 && gdbus call --session --dest org.gnome.ScreenSaver --object-path /org/gnome/ScreenSaver --method org.gnome.ScreenSaver.Lock'

[Install]
WantedBy=default.target
